/* Components Library Start */
* {
  margin: 0rem;
}
:root {
  /* Colors */
  /* Primary colors */
  --primary-color-blue: hsl(215, 51%, 70%);
  --primary-color-cyan: hsl(178, 100%, 50%);
  /* Secondary colors */
  --neutral-color-bg: hsl(217, 54%, 11%);
  --neutral-color-card: hsl(216, 50%, 16%);
  --neutral-color-line: hsl(215, 32%, 27%);
  --neutral-color-white: hsl(0, 0%, 100%);
  /* Text colors */
  --text-color: hsl(0, 0%, 100%);
  /* Shadow colors */
  --shadow: 0 0 1.5rem hsla(234, 12%, 34%, 0.205);

  /* Font sizes */
  /* Heading */
  --h1-font-size: 3rem;
  --h2-font-size: 2.5rem;
  --h3-font-size: 2rem;
  --h4-font-size: 1.5rem;
  --h5-font-size: 1.25rem;
  --h6-font-size: 1rem;
  /* Body */
  --body-text-font-size1: 1.125rem;
  --body-text-font-size2: 1rem;
  /* Caption */
  --caption-font-size: 0.75rem;

  /* Font weights */
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-bold: 600;

  /* Padding */
  --padding-x: 0.25rem;
  --padding-xx: 0.5rem;
  --padding-xxx: 1rem;
  --padding-xxxx: 1.5rem;
  --padding-xxxxx: 2rem;
  --padding-xxxxxx: 2.5rem;
}

/* Class definition for Body & Caption */
.light {
  font-weight: var(--font-weight-light);
}
.regular {
  font-weight: var(--font-weight-regular);
}
.bold {
  font-weight: var(--font-weight-bold);
}

/* Class definition for Headings */
h1 {
  font-size: var(--h1-font-size);
  font-weight: var(--font-weight-bold);
}
h2 {
  font-size: var(--h2-font-size);
  font-weight: var(--font-weight-bold);
}
h3 {
  font-size: var(--h3-font-size);
  font-weight: var(--font-weight-regular);
}
h4 {
  font-size: var(--h4-font-size);
  font-weight: var(--font-weight-bold);
}
h5 {
  font-size: var(--h5-font-size);
  font-weight: var(--font-weight-regular);
}
h6 {
  font-size: var(--h6-font-size);
  font-weight: var(--font-weight-bold);
}
.x {
  padding-top: var(--padding-x);
}
.xx {
  padding-top: var(--padding-xx);
}
.xxx {
  padding-top: var(--padding-xxx);
}
.xxxx {
  padding-top: var(--padding-xxxx);
}
.xxxxx {
  padding-top: var(--padding-xxxxx);
}
.xxxxxx {
  padding-top: var(--padding-xxxxxx);
}
/* a {
  cursor: auto;
} */

/* Desktop view */
body {
  font-family: "Outfit", sans-serif;
  font-size: var(--body-text-font-size);
  min-height: 100vh;
  margin-left: 4rem;
  margin-right: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  overflow-y: scroll;
}
/* Attribution */
footer > div {
  display: flex;
  flex-direction: row;
  gap: var(--padding-x);
  justify-content: center;
  padding: var(--padding-xx);
}
.attribution {
  color: var(--neutral-color-white);
  opacity: 72%;
  font-size: var(--h6-font-size);
  font-weight: var(--font-weight-regular);
  text-decoration: none;
  text-align: center;
  min-width: 20rem;
  display: flex;
  flex-direction: column;
}
.attribution a {
  color: var(--primary-color-blue);
  font-weight: var(--font-weight-bold);
  float: none;
  text-decoration: none;
}
/* Mobile view */
@media only screen and (max-width: 37.5rem) {
  body {
    margin-top: 0;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
  }
  main {
    margin-top: 5rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
  footer,
  .attribution {
    background-color: var(--neutral-color-900);
    color: var(--neutral-color-50);
    width: 100%;
    font-size: var(--caption-font-size);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: var(--padding-xx);
  }
  footer > div {
    padding: var(--padding-xxx);
  }
}

/* Other CSS properties */

/* Desktop view */
body {
  background-color: var(--neutral-color-bg);
  color: var(--neutral-color-white);
  overflow-y: hidden;
}
main {
  border-radius: 1rem;
  background-color: var(--neutral-color-card);
}
.card {
  position: relative;
  width: 20rem;
  height: 100%;
  padding: 1.5rem;
  display: grid;
  gap: 1.5rem;
}

.container > img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
}

.card-content {
  /* padding: 1rem; */
  color: white;
  transition: all 0.3s ease;
  display: grid;
  gap: 1rem;
  padding-bottom: 1rem;
  border-bottom-width: 0.0313rem;
  border-bottom-style: solid;
  border-color: var(--neutral-color-line);
}

.card-content > p,
.creator > span {
  opacity: 64%;
  line-height: 160%;
}
.card-content > h5:hover {
  color: var(--primary-color-cyan);
  cursor: pointer;
}
.subtext {
  font-size: var(--body-text-font-size2);
  display: inline-flex;
  justify-content: space-between;
}
.right > p,
.left > p {
  line-height: 100%;
}
svg {
  height: fit-content;
}
.left {
  display: inline-flex;
  color: var(--primary-color-cyan);
  gap: 0.5rem;
  align-items: center;
}
.right {
  display: inline-flex;
  opacity: 48%;
  gap: 0.5rem;
  align-items: center;
}

/* Card overlay style */
.container {
  position: relative;
  width: 100%;
}
#overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  border-radius: 0.5rem;
  opacity: 0;
  transition: 0.5s ease;
}
.overlay > svg {
  opacity: 1;
}
.container:hover .overlay {
  background-color: var(--primary-color-cyan);
  opacity: 0.8;
  cursor: pointer;
}
.creator {
  display: inline-flex;
  gap: 8px;
  align-items: center;
}
.creator > img {
  position: relative;
  width: 2rem;
  border-radius: 100%;
  border: 1px solid var(--neutral-color-white);
}
strong {
  font-weight: 400;
}
strong:hover {
  color: var(--primary-color-cyan);
  font-weight: 600;
  cursor: pointer;
}

/* Mobile view */
@media only screen and (max-width: 37.5rem) {
  body {
    display: flex;
    overflow-y: scroll;
    margin-left: 0rem;
    margin-right: 0rem;
  }
}
